navbar {
  width: 100%;
  display: flex;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
navbar {
  width: 100%;
  display: flex;
  align-items: center;
  height: 55px;
  position: relative;
  background-color: #fff;
}
navbar nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.logo-cont {
  padding-left: 30px;
  cursor: pointer;
}
.logo-cont a {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 32px;
  letter-spacing: 0px;
  word-spacing: 2.4px;
  color: #150078;
  font-weight: 700;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  cursor: pointer;
}
ul li {
  list-style: none;
}
ul li.active {
      background-color: white;
      border-bottom: 2px solid #1778f2;
}
ul li a {
  color: black;
  font-size: 18px;
}
.login-cont {
  padding-right: 30px;
  font-size: 16px;
}
.global-navbar:after {
  background-image: linear-gradient(-90deg, #00bfde, #532380);
  content: "";
  height: 4px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.global-footer:after {
  background-image: linear-gradient(-90deg, #00bfde, #532380);
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.mySlides {
  display: none;
  height: 500px;
}
.mySlides .text {
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  display: inline;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 8px;
  font-size: 14px;
  color: white;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.7);
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.slideshow-container h1 {
  position: absolute;
  left: 0;
  top: 50px;
  display: inline;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 8px;
  color: white;
  font-weight: 800;
  font-size: 46px;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 0 0;
}
.search-form h1 {
  flex: 1 1 100%;
  margin-bottom: 20px;
  font-size: 32px;
}
.search-form select {
  flex: 1 1 33.3%;
  height: 50px;
}
.search-form input {
  flex: 1 1 33.3%;
  background-color: #1565c0;
  outline: none;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
section {
  padding: 50px 0 0 0;
}
section h1 {
  margin-bottom: 30px;
  font-size: 32px;
}
.card-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  min-height: 250px;
  width: 100%;
}
.card-container .card {
  flex: 1 1 100%;
  border: 1px solid #e6e6e6;
  min-height: 250px;
  display: flex;
  flex-direction: column;
}
.card-container .card .image-cont {
  height: 50%;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-container .card .info-cont {
  height: 50%;
  padding: 16px;
}
.card-container .card .info-cont p {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
}
.card-container .author-info-cont {
  display: flex;
  gap: 2rem;
  padding: 16px;
}
.card-container .card .author-info-cont .img-cont {
  height: 64px;
  width: 64px;
}
.card-container .card .author-info-cont p:first-child {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
footer {
  height: 500px;
  display: flex;
  width: 100%;
  padding: 50px 0 30px 0;
  position: relative;
}
.footer-cont {
  height: 100%;
  display: inherit;
  width: 100%;
  gap: 2rem;
}
.footer-el {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-el h4 {
  font-size: 14px;
  font-weight: 700;
}
.footer-el .specialLinks {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.footer-el .specialLinks .media {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.footer-el .specialLinks .media svg {
  fill: #fff;
  stroke: none;
}

.twitter {
  background-color: #55acee;
}
.facebook {
  background-color: #1778f2;
}
.instagram {
  background-color: #000;
}
.linkedin {
  background-color: #2868b2;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
