.trucks {
  padding: 50px 0;
}
.trucks .cards-cont {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.trucks .cards-cont .card {
  display: flex;
  /* gap: 2rem;/ */

  border: 1px solid #e6e6e6;
}

.trucks .cards-cont .card .img-cont {
  height: 200px;
  width: 300px;
}
.trucks .cards-cont .card .info-cont {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.trucks .cards-cont .card .info-cont .title {
  font-size: 24px;
}
.about {
  padding-bottom: 50px;
}
textarea {
  resize: none;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 500px;
  margin: 0 auto 50px;
}
.contact-form label {
  font-size: 18px;
  font-weight: 600;
}
.contact-form input {
  width: 100%;
  min-height: 50px;
  padding: 16px;
  font-size: 16px;
}
.contact-form textarea {
  width: inherit;
  padding: 16px;
  font-size: 16px;
}
